<%= error_messages_for(@profile) %>

<div class="form-group">
  <%=
    f.text_field(
      :city,
      class: 'form-control',
      required: '',
      autofocus: '',
      placeholder: 'City'
    )
  %>
</div>

<div class="form-group">
  <%=
    f.text_field(
      :company,
      class: 'form-control',
      required: '',
      placeholder: 'Company'
    )
  %>
</div>

<%=
  hidden_field_tag 'user_id', @user_id
%>
