<% title "Edit Node: #{@node_title}" %>


<h1 class="text-center">Edit <% @node_title %></h1>

<%= form_for(@node, :url => {:action => 'update', :id => @node.id}) do |f| %>

  <%= render(:partial => 'form', :locals => {:f => f} ) %>

  <div class="form-buttons">
    <%= submit_tag('Update Node', class: 'btn btn-primary') %>
    <%= link_to('Cancel', {:action => 'index'}, :class => 'btn btn-link') %>
  </div>
<% end %>
