<% title 'Forbidden' %>
<div class="well text-center">
  <h1>Forbidden <small>Error 403</small></h1>
  <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
</div>
