<% title 'Page not found' %>
<div class="well text-center">
  <h1>The page you were looking for doesn't exist. <small>Error 404</small></h1>
  <p>You may have mistyped the address or the page may have moved.</p>
  <a href="/" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
</div>
