<% title "Edit User: #{@user.name}" %>

<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 user edit">
    <h1 class="text-center">Edit User</h1>

    <%= form_for(@user, :url => {:action => 'update', :id => @user.id}) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f} ) %>

      <div class="form-buttons">
        <%= submit_tag('Update User', class: 'btn btn-primary') %>
        <%= link_to('Cancel', {:action => 'index'}, :class => 'btn btn-link') %>
      </div>
    <% end %>
  </div>
</div>
