<div class="container user new">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center">Register</h1>

      <%= form_for(:user, :url => {:action => 'create'}) do |f| %>

        <%= render(:partial => 'form', :locals => {:f => f} ) %>

        <div class="form-buttons">
          <%= submit_tag('Register', class: 'btn btn-lg btn-primary btn-block') %>
        </div>

      <% end %>
    </div>
  </div>
</div>
