<% @page_title = "Edit role: #{@role.name}" -%>

<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 user edit">
    <h1 class="text-center">Edit role</h1>

    <%= form_for(:role, :url => {:action => 'update', :id => @role.id}) do |f| %>

      <%= render(:partial => 'form', :locals => {:f => f} ) %>

      <div class="form-buttons">
        <%= submit_tag('Update role', class: 'btn btn-primary') %>
        <%= link_to('Cancel', {:action => 'index'}, :class => 'btn btn-link') %>
      </div>
    <% end %>
  </div>
</div>
