$hover_trans: 300ms;
$nav_trans: 100ms;

$c_navy: #80CBC4;

.front {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }
}

nav.navbar div.navbar-header > a {
  color: $c_navy;
  &:active, &:focus, &:hover {
    color: #4285F4;
  }
}

nav.navbar {
  background: none;
}

nav.navbar.background {
  background: rgba(55, 71, 79, 0.8);
  -webkit-transition: all $nav_trans linear;
  -moz-transition: all $nav_trans linear;
  transition: all $nav_trans linear;
}

.title {
  color: #424242;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
}

section.header {
  position: relative;
  z-index: 990;
  overflow: hidden;
  box-shadow: 0px 0px 15px 0px #000;
  .video-wrapp {
    background: #000;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    video {
      min-width: 100%;
    }
  }
}

nav.navbar-default {
  background: none;
  background-color: transparent;
  border: none;
  color: #ECEFF1;
  .navbar-nav > li > a {
    color: #ECEFF1;
    &:active, &:focus, &:hover {
      color: $c_navy;
    }
  }
}

.header-info {
  padding-top: 70px;
  padding-bottom: 70px;
  .user {
    text-align: center;
    color: #fff;
  }
}

.bullets {
  margin-top: 50px;
}

#skills {
  #skills-chart-wrapp {
    #skills-chart {
      margin-left: -26px;
      margin-right: -15px;
      svg > g {
        > line, > text {
          display: none;
        }
      }
    }
  }
}

#projects {
  background-color: #EEEEEE;
  border-top: 1px solid #E0E0E0;
  padding-bottom: 20px;
  .repo-wrapper {
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    position: relative;
    &:hover {
      box-shadow: 0 15px 40px 0 rgba(0,0,0,.19);
      -webkit-transition: all $hover_trans linear;
      -moz-transition: all $hover_trans linear;
      transition: all $hover_trans linear;
    }
    .desc {
      padding: 15px;
      min-height: 130px;
      position: relative;
      word-break: break-all;
    }
    .counts {
      font-size: 16px;
      height: 25px;
      margin: 10px 0;
      overflow: hidden;
    }
    a {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

footer {
  border-top: 1px solid #4285F4;
  padding: 30px 0;
  ul.social {
    background-color: #fff;
    margin: 0;
    .social-link {
      &:hover {
        opacity: 0.6;
        -webkit-transition: all $hover_trans linear;
        -moz-transition: all $hover_trans linear;
        transition: all $hover_trans linear;
      }
      > img {
        height: 25px;
        width: 25px;
      }
    }
  }
}

.language {
  padding: 15px;
  margin: 0;
  color: #fff;
}

.language-php {
  background-color: #4285F4;
}

.language-javascript {
  background-color: #FF7043;
}

.language-java {
  background-color: #00796B;
}

.language-css {
  background-color: #F4B400;
}

.language-html {
  background-color: #9E9D24;
}

.language-ruby {
  background-color: #AB47BC;
}

section.bullets .node {
  margin-bottom: 30px;
}

section.bullets .node > img {
  float: left;
  margin-right: 15px;
}
